# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
example_sdl2_opengl3

# Visual Studio Bloat
visual studio/Debug
visual studio/Release/*
visual studio/.vs

# Application Deliverables for Windows
!visual studio/Release/ImGui_cross-platform_calculator.exe
!visual studio/Release/SDL2.dll